@font-face {
	font-family: 'BloklettersBalpen';
	src: url('blokletters_balpen.eot');
	src: local('Blokletters Balpen Balpen'), local('Blokletters-Balpen'), url('blokletters_balpen.ttf') format('truetype');
}

body {
	background: url("background7g.jpg") fixed;
}

a, a:hover, a:active, a:visited {
    text-decoration:none;
}

.nav {
	background-color: #ffe6e6;
	height: 200px;
	width: 100%;
	position: relative;
	padding-top: 103px;
	display: inline-block;
}

.nav2 {
	display: none;
}

.logo {
    display: inline-block;
    margin-left: 80px;
    font-family: "BloklettersBalpen", Helvetica, sans-serif;
    color: black;
    font-size: 60px;
    text-decoration: none;
}

.nav li {
	display: inline-block;
	float: right;
	margin-right: 20px;
	margin-top: 55px;
}

.nav li a, .nav li a:visited, .nav li a:link {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 15px;
	color: black;
	margin-right: 50px;
}

.nav li a i {
	margin-right: 10px;
}

.nav li a:hover {
	color: rgba(255, 0, 0, 0.9);
	background-color: transparent;
}

.footer {
	margin-top: 100px;
	padding-top: 30px;
	float: left;
	padding-bottom: 30px;
	padding-left: 20px;
	width: 100%;
	background-color: #ffe6e6;
	color: black;
	border-top: 4px dotted rgba(255, 255, 255, 0.8);
	font-family: "Audi Type Normal", Verdana, sans-serif;
}

.footer ul li, .footer ul div li {
	margin-top: 15px;
 	float: left;
	display: inline;
}

.social-networks {
	font-family: 'generica', Helvetica, sans-serif !important;
	font-weight: bold;
	float: right; 
	text-align: center;
	margin-right: 80px;
	margin-top: 20px;
}

.social-networks li a i {
	color: #ff0066;
}

.social-networks li a i:hover {
	color: black;
}

.connect {
	text-align: center;
	outline: 2px dotted black;
	outline-offset: 10px;
	font-size: 20px;
	margin-left: -18px;
	margin-bottom: -10px;
}

@media (max-width: 695px) {

	.nav a {
		text-align: center;
	}

	.nav li {
		display: none;
	}

	.nav2 {
		display: initial;
		text-align: center;
	}

	.nav2 ul {
		margin-top: 10px;
		list-style: none;
		margin-left: -30px;
	}

	.nav2 li {
		display: inline-block;
		background-color: #ffe6e6;
		margin: auto;
		text-align: center;
		margin-right: 5px;
		margin-top: 10px;
	}

	.nav2 li a, .nav2 li a:visited, .nav2 li a:link {
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		font-size: 15px;
		color: black;
		padding-right: 10px;
	}

	.nav2 li a i {
		margin-left: 8px;
		margin-right: 8px;
	}

	.nav2 li a:hover {
		color: rgba(255, 0, 0, 0.9);
		background-color: transparent;
	}

	.footer ul > li:first-child {
		display: inline-block;
		margin-left: -15px;
	}

	.footer ul li, .footer ul div li {
	 	float: none;
	}
	
	.footer {
		margin-top: 0px;
	}

	.social-networks li {
		float: none;
		text-align: center;
	}

	.social-networks {
		float: none;
		width: 150px;
		margin: auto;
		padding-left: -40px;
		padding-top: 50px;
	}

	.smaller-footer {
		text-align: center;
		margin-left: -44px;
	}
}

@media (max-width: 950px) {
	.nav {
		height: 100px;
		padding-top: 40px;
	}

	.logo {
	    font-size: 40px;
	    margin-left: 30px;
	}

	.nav li {
		margin-top: 22px;
	}

	.nav li a, .nav li a:visited, .nav li a:link {
		margin-right: 10px;
	}

	.footer {
		padding-top: 30px;
	}

	.connect {
		outline-offset: 5px;
		font-size: 18px;
	}

}


/*FOR INDEX*/

	.center-piece {
		width: 940px;
		margin: 0 auto;
		margin-top: 100px;
	}

	.text-block {
		border-radius: 25px 0px 0px 25px;
		background-color: white;
		color: black;
		width: 470px;
		height: 400px;
		float: left;
		font-size: 45px;
		font-family: 'generica', Helvetica, sans-serif;
		padding-left: 10px;
		padding-top: 15px;
	}

	#innovative {
		color: #ff0066;
		font-size: 80px;
		font-weight: 500;
	}

	#slideshow {
		width: 470px;
		height: 400px;
	}

	#slideshow img {
		width: 480px;
		height: 400px;
		border-radius: 0px 25px 25px 0px ;
	}

	#left-slide {
		left: 470px;
		height: 400px;
	}

	#right-slide {
		height: 400px;
	}

	#indicator {
		left: 705px;
	}

	@media (max-width: 530px) {

		.center-piece {
			width: 100% !important;
		}

		.text-block {
			width: 100% !important;
			font-size: 30px;
			height: 290px;
		}

		#innovative {
			font-size: 50px;
			text-align: center;
		}

		#slideshow {
			width: 100%;
		}

		#myCarousel {
			margin: 0 auto;
		}

		#slideshow img {
			width: 300px;
			height: 280px;
			margin: 0 auto;
		}

		#indicator {
			visibility: hidden;
		}

		#left-slide {
			visibility: hidden;
		}

		#right-slide {
			visibility: hidden;
		}

	}

	@media (max-width: 950px) {

		.center-piece {
			width: 460px;
			margin-top: 30px;
		}

		#slides {
			padding-top: 30px;
		}

		#slideshow img {
			border-radius: 0px 0px 25px 25px ;
		}

		.text-block {
			border-radius: 25px 25px 0px 0px;
		}

		#indicator {
			left: 235px;
		}

		#left-slide {
			left: 0px;
			margin-top: 400px;
		}

		#right-slide {
			right: -10px;
			margin-top: 400px;
		}

	}

/* END OF INDEX */

/* FOR MENU */

	.button-menu-category {
		display: none;
	}

	.menu-category {
		text-align: center;
		margin-top: 70px;
		margin-left: -40px;
	}

	.menu-category span {
		font-size: 18px;
		font-family: "Audi Type Normal", Verdana, sans-serif;
		background-color: white;
		padding: 10px;
	}

	.menu-category li {
		color: black;
		display: inline-block;
		line-height: 45px;
	}

	.menu-category span li i {
		margin-left: 10px;
	}

	.menu-category li a {
		cursor: pointer;
		color: black;
		margin-right: 30px;
	}

	.menu-category li a:hover {
		color: red;
	}

	#menu {
		text-align: center;
		background-color: white;
		font-family: "Audi Type Normal", Verdana, sans-serif;
		color: black;
		font-size: 17px;
		margin-bottom: 80px;
		padding-bottom: 50px;
	}

	.title {
		font-family: 'generica', Helvetica, sans-serif;
		font-size: 30px;
		padding-top: 50px;
		margin-top: 40px;
	}

	.title h1 {
		font-weight: bold;
		font-size: 20px;
	}

	.title hr {
		border-color: black;
		width: 800px;
		margin-top: 8px;
		border-width: 2px;
	}

	.subtitle {
		font-size: 17px;
	}

	.subtitle hr {
		border-color: black;
		width: 400px;
		margin-top: 8px;
		margin-bottom: 10px;
		border-width: 1px;
	}

	#menu table {
		border-collapse: separate;
		border-spacing: 40px 5px;
	}

	#menu table td {
		overflow: hidden;
		width: 500px;
	}

	.menu-pics {
		height: 310px;
		width: 300px;
	}

	.menu-title {
		font-size: 19px;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
	}

	#menu table img {
		margin-top: 40px;
	}

	@media (max-width: 950px) {
		.menu-category {
			margin-top: 15px;
		}

		.menu-category span {
			font-size: 13px;
		}

		.menu-category li a {
			margin-right: 15px;
		}

		.title {
			font-size: 22px;
			padding-top: 60px;
			margin-top: 20px;
		}

		.title hr {
			width: 200px;
			margin-top: 8px;
		}

		.subtitle {
			font-size: 17px;
		}

		.subtitle hr {
			width: 150px;
		}

		#menu table {
			border-collapse: separate;
			border-spacing: 15px 6px;
		}
	}

	@media (max-width: 640px) {
		.button-menu-category {
			display: initial;
			position: relative;
		}

		.button-menu-category button {
			margin-right: -5px;
			margin-top: 0px;
		}

		.button-display {
			margin-left: 50px;
			background-color: black;
			list-style-type: none;
			padding-top: 10px;
			width: 200px;
			float: center;
		}

		.button-display ul {
			padding-left: 0px;
		}

		.button-display ul li {
			list-style-type: none;
		}

		.button-display li a {
			text-decoration: none;
			color: white;
			list-style-type: none;
			font-family: "Audi Type Normal", Verdana, sans-serif;
		}

		.menu-category {
			display: none;
		}
	}

	@media (max-width: 530px) {
		.menu-category {
			margin-top: 10px;
		}

		.menu-category span {
			font-size: 13px;
			padding: 5px;
		}


		.menu-category span li i {
			margin-left: 10px;
		}

		.menu-category li a {
			margin-right: 10px;
		}

		.menu-category li a:hover {
			color: red;
		}

		.title {
			font-size: 20px;
			padding-top: 50px;
			margin-top: 20px;
		}

		.title hr {
			border-color: black;
			width: 100px;
			margin-top: 8px;
			border-width: 2px;
			padding-bottom: 10px;
		}

		.title h1 {
			font-weight: bold;
			font-size: 16px;
		}

		.subtitle {
			font-size: 16px;
		}

		.subtitle hr {
			width: 80px;
			margin-top: 8px;
			margin-bottom: 10px;
			border-width: 1px;
		}

		#menu table {
			border-collapse: separate;
			border-spacing: 0px 3px;
			font-size: 12px;
		}

		.menu-title {
			font-size: 14px;
		}
	}

/* END OF MENU */

/* START OF CONTACT-US*/
	#info {
		background-color: white;
		width: 100%;
		height: 500px;
		margin-top: 120px;
		font-family: 'Delicious-Bold', Helvetica, sans-serif;
	}

	#inner {
		width: 980px;
		margin: auto;
	}

	#contact {
		float: left;
		padding-top: 60px;
		text-align: center;
	}

	#contact b {
		font-size: 30px;
	}

	#table1 {
		border-collapse: separate;
		border-spacing: 30px 10px;
		font-family: "Audi Type Normal", Verdana, sans-serif;
		text-align: center;
		font-size: 18px;
	}

	#table2 {
		border-collapse: separate;
		border-spacing: 25px 10px;
		text-align: center;
		font-size: 20px;
	}

	#table2 tr td a {
		color: red;
	}

	.arrow_box {
		position: relative;
		background: #fffcfd;
		height: 100px;
		width: 112px;
		padding-top: 5px;
		border: 3px solid #000000;
	}

	.arrow_box:after, .arrow_box:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.arrow_box:after {
		border-color: rgba(255, 252, 253, 0);
		border-top-color: #fffcfd;
		border-width: 18px;
		margin-left: -20px;
	}
	.arrow_box:before {
		border-color: rgba(0, 0, 0, 0);
		border-top-color: #000000;
		border-width: 24px;
		margin-left: -24px;
	}

	#map {
		height:400px;
		width:380px;
		float: left;
		margin-left: 100px;
		text-align: center;
		font-size: 30px;
		padding-top: 20px;
		font-family: 'Delicious-Bold', Helvetica, sans-serif;
	}

	#gmap_canvas {
		margin-top: 10px;
		overflow: hidden;
		height:400px;
		width:380px;
	}

	#gmap_canvas img {
		max-width: none !important;
		background: none !important;
	}

	#address {
		padding-top: 20px;
		font-size: 17px;
	}

	@media (max-width: 950px) {
		#info {
			margin-top: 45px;
			height: 470px;
		}

		#inner {
			width: 450px;
		}

		#contact {
			float: none;
			padding-top: 30px;
		}

		#map {
			background-color: transparent;
			height:300px;
			width:100%;
			margin: auto;
			margin-top: 40px;
			margin-bottom: 40px;
		}

		#map span {
			background-color: white;
			padding: 3px;
			padding-left: 50px;
			padding-right: 50px;
		}

		#gmap_canvas {
			height:260px;
			width:100%;
		}
	}

	@media (max-width: 455px) {
		#info {
			height: 500px;
		}

		#inner {
			width: 100%;
			margin: auto;
		}

		#contact {
			padding-top: 60px;
			text-align: center;
		}

		#contact b {
			font-size: 24px;
		}

		#table1 {
			border-collapse: separate;
			border-spacing: 10px 10px;
			font-family: "Audi Type Normal", Verdana, sans-serif;
			text-align: center;
			font-size: 14px;
		}

		#table2 {
			border-collapse: separate;
			border-spacing: 20px 10px;
			text-align: center;
			font-size: 13px;
		}

		.arrow_box {
			position: relative;
			background: #fffcfd;
			height: 80px;
			width: 70px;
			padding-top: 5px;
			border: 3px solid #000000;
		}

		#address {
			font-size: 13px;
		}

	}

/* END OF CONTACT-US*/